.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
}


#grandParent{
    background-color: rgb(17, 132, 232);
    padding: 10px;
    height: 300px;
    width: 300px;
}

#parent{
    background-color: green;
    padding: 10px;
    height: 200px;
    width: 200px;
    margin: auto;
}

#child{
    background-color: red;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}